*{
    box-sizing: border-box;
    font-size: 62.5%;
    color:var(--color-uno);

    margin:0;
    padding:0;
    border:0;
}

html{
    position: relative;
    width: 100%;
    height: 100%;
}

h1{
    font-size: 5rem;
}

:root{
    --color-uno: #ffffff;
    --color-dos: #000000;
    --color-tres: #1e2046;
    --color-cuatro: #d4d4d4;
    --color-cinco: #373b69;
    --color-seis: #8e8e8f;
    --color-siete: #484061;
    --color-ocho: #000000;

    --main-color: linear-gradient(to left,#49a09d,#5f2c82);

    --header-color:       #171a21;
    --header-height:        8rem;
    --footer-height:        5rem;
    
    --fstform-fsize:        8rem;
    --fstsearch-fsize:      4rem;


    --card-width:           18rem;
    --card-height:          30rem;
    --card-margin:          4rem;
    --card-fsize:           2rem;

    --card-notinit-width:   23rem;
    --card-notinit-height:  31rem;

    --nav-spani-fsize:      2rem;

    --data-btn-fsize:       2rem;
    --sinopsis-fsize:       3rem;
}

body{

    height: 100vh;
    box-sizing:border-box;
    padding: var(--header-height) 0 var(--footer-height) 0;
    display: grid;
    background-color: var(--color-cuatro);
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Varela Round', sans-serif; */
    width: 100%;
}

/* ----------------header-------------------- */
header{
    position: fixed;
    top: 0;
    left: 0;
    align-content: center;
    box-sizing: content-box;
    height: var(--header-height);
    display: flex;
    width: 100%;
    z-index: 999;

    background-color: var(--header-color);
}

nav{
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

}

header ul{
    display: flex;
    margin: 0;
    justify-content: flex-start;
}

li span,i{
    font-size: var(--nav-spani-fsize);
    margin: 0 0.4rem 0;
    color: var(--color-cuatro);
}

header li:hover{
    
    background-color: var(--color-seis);
    border-radius: 5px;
    transition: transform 5s ease-in;
}



a,ul{
    text-decoration: none;
    padding: 0;
}

li{
    list-style: none;
    margin: 0.5rem;
}

.nav-search-input{
    border: 2px solid var(--color-siete);
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: var(--color-cuatro);
}

.search:focus{
    outline:0;
    background-color: var(--color-siete);
}

.search::placeholder{
    color: var(--color-cuatro);
}

footer{
    height: var(--footer-height);
    width: 100%;
    background-color: var(--header-color);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background: var(--main-color);
    
}

section{

    position: relative;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

#section-index{
    width: 100%;
    max-width: 120rem;
    height: 100%;
    
    overflow: scroll;
}
form *{
    font-family: 'Montserrat', sans-serif;
}
.form-container{
    display: flex;
    align-items: center;
    height: 100%;
}
form h1{
    font-size: var(--fstform-fsize);
    font-family: 'Fredoka', sans-serif;
}

aside{
    display: flex   ;
    overflow: scroll;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

#section-index::-webkit-scrollbar,
.movies::-webkit-scrollbar,
.mi-lista-content::-webkit-scrollbar,
aside::-webkit-scrollbar,
.sinopsis::-webkit-scrollbar {
    display: none;
}

.movie-card,.favorite-movie-card{
    width: var(--card-width);
    height: var(--card-height);
    margin: var(--card-margin);
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(270deg,#576574 0%,#2c3c49 100%);
    box-shadow: 0 10px 6px -6px rgb(0 0 0 / 50%);
}


.favorite-movie-card{
    margin: 4rem auto;
}

.info-card{
    font-size: var(--card-fsize);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 20%;
}
.info-card small{
    font-size: 1rem;
}


.img-card{
    overflow: hidden;
    height: 80%;
    display: flex;
    align-items: center;

}


.img-card>img{
    width: 100%;
    object-fit:fill;
}

.card-actions{
    grid-area: action-card;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#22222271 ;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.5s ease-in;
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card-actions i:hover{
    color: var(--color-dos);
}

.card-actions i:active{
    color: #fff;
}

.movie-card:hover .card-actions,.favorite-movie-card:hover .card-actions{
    transform: translateY(0);
    height: 100%;
}

.mi-lista{

    position: fixed;
    right: 100;
    top: 0;
    transition: transform 0.5s ease-in;
    font-size: 3rem;
    display: flex;
    margin: var(--header-height) 0 var(--footer-height) 0;
    height: 100%;
}

.botonera button{
    position: absolute;
    transition: transform 0.5s ease-in;
    background-color: var(--header-color);
    align-self: center;
    border-radius: 5px 0px 0px 5px;
    padding: 1rem;
    width: 100%;
    left: 0;
    top: 40%;

    transform: translate(-100%,0%);
    width: 5rem;

}
.bajar-lista{
    z-index:997;

}

.mi-lista-button{
    z-index: 999;
    
}
.subir-lista{
    z-index:998;

}

.botonera{
    /* position: relative; */
    align-items: center;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    
}


.mi-lista-content{
    background-color: var(--header-color);
    overflow: scroll;
    border-left: solid 2px var(--color-tres);
    padding: 0 0 calc(var(--footer-height) + var(--header-height)) 0;
    z-index: 998;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

}

.mi-lista-not-init{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mi-lista-not-init>div{
    border: solid 2px var(--color-tres);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 3px 2px 5px var(--color-seis);


    width: var(--card-notinit-width);
    height:var(--card-notinit-height);

}
.mi-lista-not-init img{
    object-fit:cover;
    height: 100%;
}


/* ---------------------INDEX------------------ */

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    align-items: end;
    height: 100%;
}
.first-search-input{
    font-size: var(--fstsearch-fsize);
    color:var(--color-seis);
    text-align: center;
    border-radius: 15px;
    background-color: var(--color-tres);
    
}




/* ----------------Media queries----------------- */



@media (max-width:575px){    

    :root{
        --fstsearch-fsize: 2rem;
        --fstform-fsize: 3rem;


    }

    .movie-card{
        width: calc(var(--card-width) * 1.7);
        height: calc(var(--card-height) * 1.7);
    }

    .info-card{
        font-size: calc(var(--card-fsize) * 1.5);
    }


    nav{
        width: 100%;
    }
    nav i{
        font-size: calc(var(--nav-spani-fsize) * 1.3);
    }
    nav span{
        display: none;
    }
    .favorite-movie-card{
        width: calc(var(--card-width) * 0.9);
        height: calc(var(--card-height) * 0.9);
    }
    .mi-lista{
        width: 25rem
        }
    nav span{
        display: none;
    }
    nav li{
        margin: 0.4rem 0.5rem 0;
        padding: 0;
    }
    nav form{
        margin: 0 0 0 0.9rem;
    }


    .botonera button{
        top: 35%;
    }
    .mi-lista-not-init>div{
        width: calc(var(--card-notinit-width) * 0.7);
        height:calc(var(--card-notinit-height) * 0.7);
    }

}

@media (min-width:575px) and (max-width:992px) {

    .movie-card{
        width: calc(var(--card-width) * 1.2);
        height: calc(var(--card-height) * 1.2);
    }

    nav i{
        font-size: calc(var(--nav-spani-fsize) * 1.5);
        margin: 0 1rem;
    }
    nav span{
        display: none;
    }
    /* a{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    nav{
        max-width: 92rem;
        width: 95%;
        display: flex;
    }
    nav form{
        align-self: center;
    }
    .favorite-movie-card{
        width: calc(var(--card-width) * 1.1);
        height: calc(var(--card-height) * 1.1);
    }
    .mi-lista{
    width: 27rem
    }
    .botonera button{
        top: 38%;
    }
    .mi-lista-not-init>div{
        width: calc(var(--card-notinit-width) * 0.8);
        height:calc(var(--card-notinit-height) * 0.8);
    }


}

@media(min-width:992px) and (max-width:1200px) {

    
    nav span,nav i{
        font-size: calc(var(--nav-spani-fsize) / 1.3);
    }
    nav{
        max-width: 100rem;
        width: 90%;
        display: flex;
    }

    #section-index{
        max-width: 100rem;
        width: 90%;
    }
    nav form{
        align-self: center;
        margin-right: 4rem;
    }

    .favorite-movie-card{
        width: calc(var(--card-width) * 1.3);
        height: calc(var(--card-height) * 1.3);
    }
    .mi-lista{
    width: 30rem
    }

    .mi-lista-not-init>div{
        width: calc(var(--card-notinit-width) * 0.9);
        height:calc(var(--card-notinit-height) * 0.9);
    }

}

@media (min-width:1200px) {

    nav{
        max-width: 120rem;
        width: 80%;

        display: flex;
    }
    
    .mi-lista{
    width: 33rem
    }
    .favorite-movie-card{
        width: calc(var(--card-width) * 1.4);
        height: calc(var(--card-height) * 1.4);
    }

    .more-info-container{
        grid-template-areas: 
        "visual visual visual"
        "visual visual visual"
        "sinopsis sinopsis data";

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 32.5% 32.5% 35%;

        height: 80%;
        width: 80%;
    }

    .visual{
        grid-template-areas: 
        "poster imagenes imagenes";

        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 1fr;
    }

    .visual>.poster,
    .visual>.imagenes{
    padding: 1rem;
}

    .sinopsis{
        padding: 3rem;
        font-size: var(--sinopsis-fsize);
    }

    .data{
        padding: 1rem;
    }

    .data *{
        margin: 1.5rem;
    }


    .data button>a,.data button{
        font-size: var(--data-btn-fsize);
    }
    
}


/* -_------------------More info elementos----------------- */

#section-more-info{

    width: 100%;
    max-width: 140rem;
    min-height: 100%;
    display: flex;
    
}
.more-info-container{
    display:grid;
    background-color: #11111164;
    border-radius: 1.2rem;
    overflow: hidden;
}


.visual{
    grid-area: visual;
    background-color: #11111195;
    display: grid;
}

.visual>.poster,
.visual>.imagenes{
    overflow: hidden;
    padding: 1rem;
}



.sinopsis{
    grid-area: sinopsis;

    overflow: scroll;
}

.data{
    grid-area: data;

    display: flex;
    flex-direction: column;

    
}

.data button>a,.data button{


    height: 4rem ;

    background-color: var(--header-color);

    border-radius: 0.5rem;


    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.poster{
    grid-area: poster;

    display: flex;
    justify-content: center;
}
.poster>img{
    object-fit:scale-down;
    height: 100%;

}

.imagenes{
    grid-area: imagenes;
    display: flex;
    position: relative;
}

.imagenes>*,.imagen-content *{
    width: 100%;
    height: 100%;
}

.imagen-previous,.imagen-next{
    position: absolute;
    width: 10rem;
    top: 0;
    font-size: 3rem;
    display: flex;

    transition:  0.2s ease-in;
}  
.imagen-previous:hover,
.imagen-next:hover{
    background-color: #5c5c5c84;
}

.imagen-previous{
    left: 0;
}

.imagen-next{
    right: 0;
}


.imagen-previous,
.imagen-next{
    justify-content: center;
    align-items: center;
}


.mySlides {
    display: none;
  }


/* -------------Loader------------------- */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    align-self: center;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
