*{
    box-sizing: border-box;
    font-size: 62.5%;
    color:var(--color-uno);
}

html{
    position: relative;
    width: 100%;
    height: 100%;
}

h1{
    font-size: 5rem;
}

:root{
    --color-uno: #ffffff;
    --color-dos: #000000;
    --color-tres: #1e2046;
    --color-cuatro: #d4d4d4;
    --color-cinco: #373b69;
    --color-seis: #8e8e8f;
    --color-siete: #484061;
    --color-ocho: #000000;
    --width-uno: 30rem;


    --header-color: #1e2046;
    --header-height: 8rem;
    --footer-height: 5rem;
    
}

body{





    margin: var(--header-height) 0 var(--footer-height) 0;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    background-color: var(--color-cuatro);
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Varela Round', sans-serif; */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* ----------------header-------------------- */
header{
    position: fixed;
    top: 0;
    left: 0;
    grid-area: header;
    align-content: center;
    box-sizing: content-box;
    height: var(--header-height);
    display: flex;
    width: 100%;

    background-color: var(--header-color);
}

nav{
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

}

header ul{
    display: flex;
    margin: 0;
    justify-content: flex-start;
}

li span,i{
    font-size: 2rem;
    margin: 0 0.4rem 0;
    color: var(--color-cuatro);
}

header li:hover{
    
    background-color: var(--color-seis);
    border-radius: 5px;
    transition: transform 5s ease-in;
}



a,ul{
    text-decoration: none;
    padding: 0;
}

li{
    list-style: none;
    margin: 0.5rem;
}

.nav-search-input{
    border: 2px solid var(--color-siete);
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: var(--color-cuatro);
}

.search:focus{
    outline:0;
    background-color: var(--color-siete);
}

.search::placeholder{
    color: var(--color-cuatro);
}

footer{
    grid-area: footer;
    height: var(--footer-height);
    width: 100%;
    background-color: var(--header-color);
    position: fixed;
    bottom: 0;
    left: 0;
}

main{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
}

section{

    position: relative;
    display: flex;
    background-color: var(--color-siete);
    max-width: 120rem;
    height: 100%;
    margin: auto;
    justify-content: center;

}
aside{
    display: flex   ;
    overflow: scroll;
    height: 100vh;
}
.movies::-webkit-scrollbar,
.mi-lista-content::-webkit-scrollbar,
aside::-webkit-scrollbar {
    display: none;
}

.movie-card,.favorite-movie-card{
    width: 18rem;
    height: 30rem;
    margin: 4rem;
    overflow: hidden;
    position: relative;
    background-color: var(--color-tres);
    border-radius: 5px;
}
.favorite-movie-card{
    margin: 4rem auto;
}

.info-card{
    font-size: 1.5rem;
    text-align: center;
}
.info-card .card-title{
    font-size: 1.3rem;
}


.img-card{
    grid-area: img-card;
    overflow: hidden;
    height: 80%;
    display: flex;
    align-items: center;

}


.img-card>img{
    width: 100%;
    object-fit:fill;
}

.card-actions{
    grid-area: action-card;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#22222271 ;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.5s ease-in;
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-actions>i{
    
}

.card-actions i:hover{
    color: var(--color-dos);
}

.card-actions i:active{
    color: #fff;
}

.movie-card:hover .card-actions,.favorite-movie-card:hover .card-actions{
    transform: translateY(0);
    height: 100%;
}

.mi-lista{
    /* position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(99.5%);
    transition: transform 0.5s ease-in;
    font-size: 3rem;
    display: flex;
     */

    position: fixed;
    right: 100;
    top: 0;
    transition: transform 0.5s ease-in;
    font-size: 3rem;
    display: flex;
    margin: var(--header-height) 0 var(--footer-height) 0;
    height: 100%;
}

.botonera button{
    position: absolute;
    transition: transform 0.5s ease-in;
    background-color: #1e2046;
    align-self: center;
    border-radius: 5px 0px 0px 5px;
    padding: 1rem;
    width: 100%;
    left: 0;
    top: 40%;

    transform: translate(-100%,0%);
    width: 5rem;

}
.bajar-lista{
    z-index:997;

}

.mi-lista-button{
    z-index: 999;
    
}
.subir-lista{
    z-index:998;

}

.botonera{
    /* position: relative; */
    align-items: center;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    
}
.mi-lista-content{
    background-color: var(--color-cuatro);
    overflow: scroll;
    border-left: solid 2px var(--color-tres);
    /* box-shadow: -4px 0px 6px white; */
    z-index: 1;
    width: 100%;
}

.mi-lista-not-init{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mi-lista-not-init>div{
    border: solid 2px var(--color-tres);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 3px 2px 5px var(--color-seis);

}
.mi-lista-not-init img{
    object-fit:cover;
    height: 100%;
}



/* .mi-list{
    background-color: var(--color-cuatro);
    overflow: scroll;
    border-left: solid 2px var(--color-tres);
    box-shadow: -4px 0px 6px white;
    z-index: 1;
    width: 100%;
} */





/* ----------------Media queries----------------- */



@media (max-width:575px){    
    .mi-lista{
        width: 25rem
        }
    nav span{
        display: none;
    }
    nav li{
        margin: 0;
        padding: 0;
    }
    nav form{
        margin: 0 0 0 0.9rem;
    }
}

@media (min-width:575px) and (max-width:992px) {
    body{
        grid-template-areas: "header" "header" "footer";
    }
    nav,section{
        max-width: 92rem;
        width: 95%;
        display: flex;
    }
    nav form{
        align-self: center;
        margin-right: 3rem;
    }

    .mi-lista{
    width: 27rem
    }

}

@media(min-width:992px) and (max-width:1200px) {

    body{
        grid-template-areas: "header" "header" "footer";
    }
    nav,section{
        max-width: 998rem;
        width: 90%;
        display: flex;
    }
    nav form{
        align-self: center;
        margin-right: 4rem;
    }

    .mi-lista{
    width: 30rem
    }

}

@media (min-width:1200px) {
    

    body{
        grid-template-areas: "header" "header" "footer";
    }
    nav,section{
        max-width: 120rem;

        width: 80%;
        display: flex;
    }
    nav form{
        align-self: center;
        margin-right: 4rem;
    }

    .mi-lista{
    width: 33rem
    }

    .mi-lista-not-init>div{
        width: 23rem;
        height: 31rem;
    }

    
    
}



/* -------------Loader------------------- */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
